@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}


.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background: linear-gradient(90deg, #0a3fff, #de8244);
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}


header .logo-container {
  display: flex;
  align-items: center; 
}

header .logo-container i {
  margin-right: 10px; 
  font-size: 2.2rem; 
  color: #ffffff; 
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

header .logo:hover {
  color: #58d8fb;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 2.5rem;
}

header .navbar ul li a {
  font-size: 1.57rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #ffffff;
  border-bottom: 0.2rem solid #fbfcff;
  padding: 0.5rem 0;
}

section {
  min-height: 100vh;
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(115, 3, 167);
}


#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(90deg, #0a3fff, #de8244);
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 20rem;
  z-index: 1;
}
.home .image img {
  width: 50%;
  margin-left: 4rem;
  margin-bottom: 20px;
  margin-top: -30px; /* Negative value to move it up */
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #00d9ff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}
.home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #00d9ff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* White shadow effect */
  }
  
.home .content p {
  font-size: 2.5rem;
  color: #fffefe;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #1a047e;
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}

@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}

.about {
  background: rgb(255, 255, 255);
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}

@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}

.skills {
  background: linear-gradient(90deg, #0a3fff, #de8244);
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    padding: 2rem;
  }
  
  .skills .heading {
    text-align: center;
    color: #ffffff;
  }
  
  .skills .heading i {
    font-size: 3rem;
    color: #ffffff;
    margin-right: 1rem;
  }
  
  .skills .heading span {
    color: #fefeff;
  }
  
  .skills .container {
    max-width: 800px;
    margin: 90px auto;
  }
  
  .skills .row {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
    justify-content: center;
  }
  
  .skills .skill-card {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1.5rem;
    flex: 1 1 20rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skills .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .skills .skill-card i {
    font-size: 2.5rem;
    color: #2506ad;
  }
  
  .skills .skill-card h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #333;
  }
  

.education {
    background: #f9f9f9;
    padding: 1rem 1rem;
    width: 100%;
  }
  
  .education .heading {
    text-align: center;
    color: #140458;
    font-size: 50px;
  }
  
  .education .heading i {
    font-size: 7rem;
    color: #140458;
    margin-right: 1rem;
  }
  
  .education .heading span {
    color: #140458;
  }
  
  .education .quote {
    text-align: center;
    font-style: italic;
    color: #020000;
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  
  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }
  
  .education .box {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 65rem;
    margin: 5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .education .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .education .box .content {
    padding: 2rem;
    text-align: center;
  }
  
  .education .box .content h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: #140458;
  }
  
  .education .box .content p {
    font-size: 1.9rem;
    color: #666;
  }
  
  .education .box .content h4 {
    font-size: 1.9rem;
    color: #140458;
  }
  

html {
    font-size: 62.5%; 
  }
  
  body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  .work {
    background: linear-gradient(90deg, #0a3fff, #de8244);
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    padding: 2rem;
  }
  
  .work h2 {
    color: #fff;
    padding: 1rem;
  }
  
  .work .heading span {
    color: rgb(255, 230, 0);
  }
  
  .work .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 2rem auto;
    max-width: 120rem; 
  }
  
  .work .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 30rem;
    background: #e7e7f2; 
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .work .box-container .box:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  }
  
  .work .box-container .box i {
    font-size: 3rem; 
    color: #140458 ;
    position: absolute;
    top: 1rem;
    left: 0rem;
    z-index: 10;
  }
  
  .work .box-container .box h3 {
    margin: 5rem 1rem 0;
    font-size: 2rem;
    color: #0e0d0d;
  }
  
  .work .box-container .box p {
    margin: 1rem;
    font-size: 1.6rem;
    color: #333; 
  }
  
  .work .box-container .box .content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    transition: bottom 0.3s;
  }
  
  .work .box-container .box:hover .content {
    bottom: 0;
  }
  
  .work .box-container .box .content .tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding-left: 4rem;
    background: #ffd900;
  }
  
  .work .box-container .box .content .tag h3 {
    font-size: 2rem;
    margin: 0;
  } */
  
  .work .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .work .desc p {
    font-size: 1.5rem;
  }
  
  .work .desc .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }
  
  .work .desc .btns .btn {
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(12, 12, 12);
    margin-right: 2rem;
    
  }
  
  .work .desc .btns .btn:hover {
    background: #310ae0f5;
  }
  
  .work .viewall {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .work .viewall .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    text-align: center;
  }
  
  .work .viewall .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  
  .work .viewall .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  
  .work .viewall .btn:hover {
    background: #fff;
    color: #000;
  }
  
  .work .viewall .btn:hover i {
    transform: translateX(5px);
  }
  


.contact {
    background: #e5ecfb;
    min-height: 60vh;
    padding: 2rem; 
  }
  
  .contact h1 {
    font-size: 3.6rem;
    font-weight: 700; 
    color: #333;
    text-align: center;
    margin-bottom: 2rem; 
  }
  
  .contact h1 i {
    font-size: 3rem; 
    color: #140458; 
    margin-right: 1rem; 
  }
  
  .contact h1 span {
    color: #140458; /* Color for the span element */
  }
  
  .contact .container {
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 1.5rem;
    margin: 2rem auto; /* Center the container horizontally */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .contact .content {
    padding: 2rem;
  }
  
  .contact .content .form {
    display: flex;
    flex-direction: column;
  }
  
  .contact .content .form .field,
  .contact .content .form .message {
    margin-bottom: 1.5rem;
  }
  
  .contact .content .form .field input,
  .contact .content .form .message textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .contact .content .form .field input {
    font-size: 1.6rem;
  }
  
  .contact .content .form .message textarea {
    font-size: 1.6rem;
    height: 10rem;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .contact .content .form .button-area {
    display: flex;
    justify-content: center;
  }
  
  .contact .content .form .button-area button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #140458;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .contact .content .form .button-area button:hover {
    background-color: #0d3dcc;
  }
  
  
/* Footer */
.footer {
     background: linear-gradient(90deg, #0a3fff, #de8244);
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    padding: 2rem 0;
    color: #fff;
  }
  
  .footer .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer .box-container .box {
    flex: 1 1 20rem;
    margin: 1rem;
    padding: 1.5rem;
    background: #140458;
    border-radius: 0.5rem;
    transition: background 0.3s, transform 0.3s; /* Smooth transition for background and transform */
  }
  
  .footer .box-container .box:hover {
    background: #1d0d9a; /* Lighter background on hover */
    transform: scale(1.05); /* Slightly enlarge the box */
  }
  
  .footer .box-container .box .share {
    display: flex;
    gap: 1rem;
  }
  
  .footer .box-container .box .share a {
    color: #fff;
    font-size: 1.6rem;
    transition: color 0.3s, transform 0.3s; /* Smooth transition for color and transform */
  }
  
  .footer .box-container .box .share a:hover {
    color: #2f00ff; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge the icon */
  }
  
  .footer .box-container .box h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem; /* Space below heading */
    transition: color 0.3s; /* Smooth transition for color */
  }
  
  .footer .box-container .box:hover h3 {
    color: #ffd900; /* Change color of heading on box hover */
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    transition: color 0.3s; /* Smooth transition for color */
  }
  
  .footer .box-container .box:hover p {
    color: #ccc; /* Change color of paragraph on box hover */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 600px) {
    .footer .box-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer .box-container .box {
      width: 100%;
      margin-bottom: 1rem;
    }
  }